/*Null styles*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
/*Common style*/
body {
  font-family: "Lato", "Arial", sans-serif;
}

.top-bar {
  display: flex;
  max-width: 1230px;
  margin: 0 auto;
}
.top-bar .logotype {
  width: 130px;
  height: 22px;
  margin: auto 0;
}
.top-bar .top-menu {
  margin: auto 224px auto 60px;
}
.top-bar .top-menu__wrap {
  display: flex;
}
.top-bar .top-menu__item {
  margin: 0 40px 0 0;
}
.top-bar .top-menu__item:last-child {
  margin: 0 0 0 0;
}
.top-bar .top-menu__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}
.top-bar .top-menu__link:hover {
  color: #FF3F3A;
}
.top-bar .cta {
  display: flex;
}
.top-bar .cta .enter {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  margin: auto 0 auto 36px;
}
.top-bar .cta .enter__image {
  margin: 0 8px 0 0;
  vertical-align: middle;
}
.top-bar .cta .enter__log {
  vertical-align: middle;
  color: #424551;
}
.top-bar .cta .enter__log:hover {
  color: #FF3F3A;
}
.top-bar .cta .enter__reg {
  vertical-align: middle;
  color: #424551;
}
.top-bar .cta .enter__reg:hover {
  color: #FF3F3A;
}

.buttons-basic-solid-large {
  padding: 0px 40px;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 52px;
  color: #FFFFFF;
}

.buttons-basic-solid-regular {
  padding: 0px 32px;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
  color: #FFFFFF;
}

.buttons-basic-outline-large {
  padding: 0px 39px;
  font-weight: 700;
  font-size: 16px;
  line-height: 50px;
  letter-spacing: 0.5px;
  border-radius: 4px;
  border: 1px solid #F75E05;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.buttons-basic-outline-regular {
  padding: 0px 32px;
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
  letter-spacing: 0.5px;
  border-radius: 4px;
  border: 1px solid #F75E05;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.play-video {
  display: flex;
  margin: 12px 0 0 0;
}
.play-video:hover {
  cursor: pointer;
}
.play-video:hover .play-video__button {
  animation-play-state: paused;
}
.play-video:hover .play-video__text {
  color: #FF3F3A;
}
.play-video__button-wrap {
  width: 84px;
  height: 84px;
  display: flex;
}
.play-video__button {
  width: 52px;
  height: 52px;
  margin: auto;
  border-radius: 50%;
  animation-name: play-button-pulsation;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 1s;
}
.play-video__text-wrap {
  margin: auto 0;
}
.play-video__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #1E212C;
}

.heading {
  max-width: 810px;
}
.heading__pre-title {
  margin: 0 0 8px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1E212C;
}
.heading__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
}
.heading--center {
  margin: 0 auto;
  text-align: center;
}

.badge {
  display: flex;
  border-radius: 4px;
  padding: 1px 8px;
}
.badge__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
}
.badge--marketing {
  width: 80px;
  background: #03CEA4;
}
.badge--management {
  width: 98px;
  background: #5A87FC;
}
.badge--hr {
  width: 111px;
  background: #F89828;
}
.badge--design {
  width: 59px;
  background: #F52F6E;
}

@keyframes play-button-pulsation {
  0% {
    outline: 1px solid rgba(255, 63, 58, 0.12);
  }
  100% {
    outline: 16px solid rgba(255, 63, 58, 0.12);
  }
}
/*Header*/
.header {
  position: relative;
  padding: 20px 0 80px 0;
}
.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  opacity: 0.2;
  z-index: -1;
}
.header .header-wrap {
  display: flex;
  justify-content: space-between;
  max-width: 1230px;
  margin: 116px auto 0 auto;
}
.header .header-wrap .header-content {
  margin: 12px 0 0 0;
}
.header .header-wrap .header-content .main-title-wrap {
  max-width: 496px;
  margin: 24px 0 0 0;
}
.header .header-wrap .header-content .main-title-wrap__main-title {
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
  color: #1E212C;
}
.header .header-wrap .header-content .header-btn {
  display: flex;
  margin: 60px 0 0 0;
}
.header .header-wrap .header-content .header-btn__btn-about-us {
  margin: 0 24px 0 0;
}
.header .statistics {
  display: flex;
  justify-content: space-between;
  max-width: 1230px;
  margin: 189px auto 0 auto;
}
.header .statistics__items {
  display: flex;
  align-items: center;
}
.header .statistics__count {
  margin: 0 12px 0 0;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  text-align: right;
  color: #1E212C;
}
.header .statistics__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #1E212C;
}
.header .statistics__dot-wrap {
  display: flex;
  align-items: center;
}
.header .header-mask {
  width: 100%;
  height: 100%;
}
.header .header-mask__shape {
  position: absolute;
  z-index: -1;
}
.header .header-mask__shape--first {
  left: 9.27%;
  top: 21.2%;
}
.header .header-mask__shape--second {
  right: 7.4%;
  top: 3.04%;
}
.header .header-mask__shape--third {
  left: 782px;
  top: 487px;
}
.header .header-mask__shape--fourth {
  left: 733px;
  top: 758px;
}
.header .header-mask__shape--fifth {
  right: 0;
  top: 749px;
}
.header .header-mask__shape--sixth {
  bottom: 0;
  left: 0;
  opacity: 0.2;
}

/*About*/
.about {
  position: relative;
}
.about .about-wrap {
  max-width: 1230px;
  margin: 180px auto 0 auto;
  display: flex;
  justify-content: space-between;
}
.about .about-wrap__img-wrap {
  width: 705px;
}
.about .about-wrap__content {
  width: 390px;
}
.about .about-wrap .bulleted-list {
  margin: 40px 0 48px 0;
}
.about .about-wrap .bulleted-list__item {
  margin: 0 0 13px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  background: url(../img/about__ico-check.svg) no-repeat 0 5px;
  padding-left: 32px;
}
.about .about-wrap .bulleted-list__item:last-child {
  margin: 0;
}
.about .about-mask__dots {
  position: absolute;
  left: 0;
  top: 150px;
  z-index: -1;
}
.about .about-mask__circles {
  position: absolute;
  right: 0;
  top: 200px;
  z-index: -1;
}

/*Courses*/
.courses .courses-wrap {
  margin: 180px auto 0 auto;
  max-width: 1230px;
}
.courses .courses-wrap .courses-header {
  display: flex;
  justify-content: space-between;
}
.courses .courses-wrap .courses-header__button-wrap {
  align-self: flex-end;
}
.courses .courses-wrap .courses-main {
  margin: 60px 0 0 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.courses .courses-wrap .courses-main__card {
  display: flex;
  width: 600px;
  margin: 0 0 28px 0;
  background: #FFFFFF;
  border: 1px solid #E5E8ED;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
}
.courses .courses-wrap .courses-main__card:hover {
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}
.courses .courses-wrap .courses-main__content-wrap {
  padding: 32px;
}
.courses .courses-wrap .courses-main__title-wrap {
  margin: 20px 0;
}
.courses .courses-wrap .courses-main__title-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
}
.courses .courses-wrap .courses-main__title-link:hover {
  color: #FF4242;
}
.courses .courses-wrap .courses-main__info-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #787A80;
}
.courses .courses-wrap .courses-main__info-price {
  font-weight: 700;
  color: #FF4242;
}
.courses .courses-wrap .courses-main__info-speaker {
  color: #787A80;
}
.courses .courses-wrap .courses-main__info-speaker:hover {
  text-decoration: underline;
}

/*Benefits*/
.benefits .benefits-wrap {
  max-width: 1230px;
  margin: 150px auto 0 auto;
}
.benefits .benefits-bar {
  display: flex;
  margin: 60px 0 0 0;
}
.benefits .benefits-bar__item {
  display: flex;
  justify-content: center;
  width: 25%;
  height: 46px;
}
.benefits .benefits-bar__item:hover {
  border: 1px solid #FF3F3A;
  border-radius: 4px;
}
.benefits .benefits-bar__icon {
  width: 16px;
}
.benefits .benefits-bar__icon--star {
  content: url(../img/benefits__ico1_false.svg);
}
.benefits .benefits-bar__icon--like {
  content: url(../img/benefits__ico2_false.svg);
}
.benefits .benefits-bar__icon--layouts {
  content: url(../img/benefits__ico3_false.svg);
}
.benefits .benefits-bar__icon--chat {
  content: url(../img/benefits__ico4_false.svg);
}
.benefits .benefits-bar__link {
  margin: auto 0 auto 8px;
  height: 26px;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #9A9CA5;
}
.benefits .benefits-bar__link:hover {
  color: #FF3F3A;
}
.benefits .benefits-main {
  display: flex;
  margin: 60px 0 0 0;
  justify-content: space-between;
}
.benefits .benefits-main__content-wrap {
  width: 495px;
  margin: 122px 0 0 0;
}
.benefits .benefits-main__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 130%;
  color: #1E212C;
}
.benefits .benefits-main__text {
  margin: 24px 0 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}

.benefits-bar__item:hover .benefits-bar__icon--star {
  content: url(../img/benefits__ico1_true.svg);
}

.benefits-bar__item:hover .benefits-bar__icon--like {
  content: url(../img/benefits__ico2_true.svg);
}

.benefits-bar__item:hover .benefits-bar__icon--layouts {
  content: url(../img/benefits__ico3_true.svg);
}

.benefits-bar__item:hover .benefits-bar__icon--chat {
  content: url(../img/benefits__ico4_true.svg);
}

.benefits-bar__item:hover .benefits-bar__link {
  color: #FF3F3A;
}

/*Events*/
.events {
  margin: 121px 0 0 0;
  position: relative;
  padding: 81px 0 80px 0;
}
.events::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  opacity: 0.2;
  z-index: -1;
}
.events .events-wrap {
  max-width: 1230px;
  margin: 0 auto 0 auto;
}
.events .events-wrap__main {
  margin: 60px 0 0 0;
}
.events .events-wrap__card {
  padding: 32px 40px;
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 4px;
  margin: 24px 0 0 0;
}
.events .events-wrap__card:hover {
  box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}
.events .events-wrap__data {
  display: flex;
}
.events .events-wrap__day {
  font-weight: 900;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 1px;
  color: #FF3F3A;
}
.events .events-wrap__month-and-time-wrap {
  margin: 0 0 0 20px;
}
.events .events-wrap__month {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
}
.events .events-wrap__time {
  margin: 4px 0 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787A80;
}
.events .events-wrap__info {
  width: 757px;
}
.events .events-wrap__title-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
}
.events .events-wrap__title-link:hover {
  color: #FF3F3A;
}
.events .events-wrap__sub-title {
  margin: 4px 0 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787A80;
}
.events .events-wrap__button:hover {
  border: none;
  padding: 0px 33px;
  background-clip: border-box;
  -webkit-text-fill-color: #FFFFFF;
  color: #FFFFFF;
}
.events .events-wrap__cta {
  margin: 58px 0 0 0;
  display: flex;
  justify-content: center;
}
.events .events-wrap__cta-text {
  margin: auto 40px auto 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: #1E212C;
}
.events .events-mask__dots {
  position: absolute;
  left: 10px;
  bottom: 7px;
  opacity: 0.8;
  z-index: -1;
}
.events .events-mask__circles {
  position: absolute;
  right: 0;
  top: -142px;
  z-index: -1;
}

/*Certificate*/
.certificate .certificate-wrap {
  margin: 120px auto 0 auto;
  max-width: 1230px;
  display: flex;
  justify-content: space-between;
  height: 454px;
}
.certificate__content {
  width: 397px;
}
.certificate__text {
  margin: 48px 0 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}
.certificate__ico-wrap {
  margin: 32px 0 0 0;
  display: flex;
  justify-content: space-between;
}
.certificate__img {
  border: 1px solid #E5E8ED;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  border-radius: 4px;
}

/*Team*/
.team {
  position: relative;
  padding: 167px 0 0 0;
  background: #F4F5F7;
}
.team .team-wrap {
  position: relative;
  margin: 0 auto 0 auto;
  max-width: 1230px;
}
.team .team-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.team .team-header__slider-controll {
  display: flex;
}
.team .team-header__arrow {
  width: 48px;
  height: 48px;
  background-position: center;
  background-repeat: no-repeat;
}
.team .team-header__arrow--left {
  background-image: url(../img/control_arrow-left-false.svg);
}
.team .team-header__arrow--right {
  background-image: url(../img/control_arrow-right-false.svg);
}
.team .team-main {
  margin: 60px 0 0 0;
  display: flex;
  justify-content: space-between;
}
.team .team-main__card {
  width: 285px;
  z-index: 1;
}
.team .team-main__card-img {
  width: 285px;
  height: 340px;
  background: #FFCF2D;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: bottom center;
}
.team .team-main__card-img-mask {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
}
.team .team-main__card-img--first {
  background-image: url(../img/team-img1.webp);
}
.team .team-main__card-img--second {
  background-image: url(../img/team-img2.webp);
}
.team .team-main__card-img--third {
  background-image: url(../img/team-img3.webp);
}
.team .team-main__card-img--fourth {
  background-image: url(../img/team-img4.webp);
}
.team .team-main__socials-bar {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}
.team .team-main__item {
  width: 20px;
  height: 20px;
  margin: 0 12px 0 0;
  fill: #FFFFFF;
  opacity: 0.6;
}
.team .team-main__item:hover {
  opacity: 1;
  cursor: pointer;
}
.team .team-main__item:last-child {
  margin: 0;
}
.team .team-main__name {
  margin: 16px 0 0 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #424551;
}
.team .team-main__position {
  margin: 4px 0 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #787A80;
}
.team .team-mask__vector {
  position: absolute;
  top: 83px;
  left: 204px;
  z-index: 0;
}
.team .team-mask__dots {
  position: absolute;
  top: 35px;
  right: 525px;
  z-index: 0;
}
.team .team-mask__shapes {
  position: absolute;
  top: 536px;
  right: 0;
  z-index: 0;
}

.team-main__card-img:hover .team-main__card-img-mask {
  display: block;
}

/*Testimonials*/
.testimonials {
  position: relative;
  padding: 180px 0 155px 0;
  background: #F4F5F7;
}
.testimonials .testimonials-wrap {
  margin: 0 auto 0 auto;
  max-width: 1230px;
  height: 500px;
}
.testimonials .testimonials-slider {
  margin: 60px 0 0 0;
}
.testimonials .testimonials-slider__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonials .testimonials-slider__content-wrap {
  width: 1020px;
  height: 344px;
  background: #FFFFFF;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  padding: 64px 105px;
}
.testimonials .testimonials-slider__content {
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.testimonials .testimonials-slider__braces {
  width: 28px;
  height: 20px;
  background-image: url(../img/testimonials__braces.svg);
}
.testimonials .testimonials-slider__testimonial {
  width: 752px;
}
.testimonials .testimonials-slider__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #424551;
}
.testimonials .testimonials-slider__user-profile {
  margin: 24px 0 0 0;
  display: flex;
}
.testimonials .testimonials-slider__user-profile-photo {
  margin: 0 20px 0 0;
  width: 72px;
  height: 72px;
  background-image: url(../img/testimonials__user1.webp);
}
.testimonials .testimonials-slider__user-profile-name-position {
  margin: auto 0;
}
.testimonials .testimonials-slider__user-profile-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #1E212C;
}
.testimonials .testimonials-slider__user-profile-position {
  margin: 4px 0 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #787A80;
}
.testimonials .testimonials-slider__arrow {
  width: 48px;
  height: 48px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.testimonials .testimonials-slider__arrow--left {
  background-image: url(../img/control_arrow-left-false.svg);
}
.testimonials .testimonials-slider__arrow--right {
  background-image: url(../img/control_arrow-right-false.svg);
}
.testimonials .testimonials-slider__footer {
  margin: 56px 0 0 0;
  display: flex;
  justify-content: center;
}
.testimonials .testimonials-slider__dot {
  margin: 0 6px;
  cursor: pointer;
  z-index: 1;
}
.testimonials .testimonials-slider__dot--active line {
  stroke: #424551;
}
.testimonials .testimonials-mask__circles {
  position: absolute;
  top: 0;
  left: 75px;
  z-index: 0;
}
.testimonials .testimonials-mask__shapes {
  position: absolute;
  top: 150px;
  left: 1000px;
  z-index: 0;
}
.testimonials .testimonials-mask__dots {
  position: absolute;
  bottom: 98px;
  left: 343px;
  z-index: 0;
}
.testimonials .testimonials-mask__circles-second {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
}

/*Blog*/
.blog .blog-wrap {
  margin: 120px auto 180px auto;
  max-width: 1230px;
}
.blog .blog-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.blog .blog-main {
  display: flex;
  justify-content: space-between;
  margin: 60px 0 0 0;
}
.blog .blog-card {
  width: 390px;
}
.blog .blog-card__image-wrap {
  position: relative;
}
.blog .blog-card__image {
  border-radius: 4px;
}
.blog .blog-card__image-badge {
  display: flex;
  padding: 1px 8px;
  background: #FFFFFF;
  border-radius: 4px;
  position: absolute;
  top: 12px;
  left: 12px;
}
.blog .blog-card__image-badge-ico {
  margin: 0 4px 0 0;
}
.blog .blog-card__image-badge-lable {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
}
.blog .blog-card__meta-bar {
  margin: 16px 0 0 0;
}
.blog .blog-card__meta {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #787A80;
}
.blog .blog-card__meta-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #787A80;
}
.blog .blog-card__meta-link:hover {
  text-decoration: underline;
}
.blog .blog-card__meta-icon {
  vertical-align: text-top;
}
.blog .blog-card__title {
  margin: 8px 0;
}
.blog .blog-card__title-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
}
.blog .blog-card__title-link:hover {
  color: #FF3F3A;
}
.blog .blog-card__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}
.blog .blog-card__link-wrap {
  margin: 16px 0 0 0;
}
.blog .blog-card__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #1E212C;
}
.blog .blog-card__link-ico {
  margin: 0 0 0 8px;
  vertical-align: middle;
}

/*Subscribe*/
.subscribe {
  position: relative;
}
.subscribe::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  opacity: 0.2;
  z-index: -1;
}
.subscribe .subscribe-wrap {
  margin: 0 auto;
  padding: 120px 0 181px 0;
  max-width: 1230px;
}
.subscribe .subscribe-form {
  margin: 60px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subscribe .subscribe-form__field {
  margin: 0 24px 0 0;
  width: 422px;
  height: 52px;
  background: #FFFFFF;
  border: 1px solid #D7DADD;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #9A9CA5;
  padding: 13px 0 13px 16px;
}
.subscribe .subscribe-mask__illustration-left {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
}
.subscribe .subscribe-mask__illustration-right {
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
}

/*Footer*/
.footer {
  background: #1E212C;
  position: relative;
}
.footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #FFFFFF;
  opacity: 0.05;
  z-index: -1;
}
.footer .footer-wrap {
  margin: 0 auto;
  max-width: 1230px;
  display: flex;
  justify-content: space-between;
  padding: 80px 0 60px 0;
}
.footer__logo-wrap {
  width: 279px;
}
.footer__text {
  margin: 24px 0 0 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.6;
}
.footer .footer-socials {
  display: flex;
  margin: 38px 0 0 0;
}
.footer .footer-socials__link {
  cursor: pointer;
}
.footer .footer-socials__icon {
  width: 24px;
  height: 24px;
  fill: #FFFFFF;
  margin: 0 20px 0 0;
  opacity: 0.6;
}
.footer .footer-socials__icon:hover {
  opacity: 1;
}
.footer__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer__bot-menu-wrap {
  margin: 12px 0 0 0;
}
.footer__item {
  margin: 8px 0 0 0;
}
.footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  opacity: 0.6;
}
.footer__link:hover {
  opacity: 1;
}
.footer__icon {
  width: 16px;
  height: 16px;
  margin: 0 8px 0 0;
  vertical-align: text-bottom;
}
.footer .footer-subscribe {
  width: 286px;
}
.footer .footer-subscribe__field-wrap {
  position: relative;
  margin: 23px 0 0 0;
}
.footer .footer-subscribe__field {
  width: 100%;
  padding: 9px 0 9px 12px;
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.6;
}
.footer .footer-subscribe__button {
  position: absolute;
  top: 10px;
  right: 12px;
  width: 16px;
  height: 16px;
  z-index: 1;
}
.footer .footer-subscribe__text {
  margin: 12px 0 0 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.6;
}
.footer .footer-bottom {
  position: relative;
}
.footer .footer-bottom::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #FFFFFF;
  opacity: 0.05;
  z-index: 0;
}
.footer .footer-bottom .footer-bottom-wrap {
  margin: 0 auto;
  max-width: 1230px;
  height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-bottom__copyright {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #FFFFFF;
}
.footer .footer-bottom__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.6;
}
.footer .footer-bottom__link:hover {
  text-decoration: underline;
}

/*Fonts*/
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local("Lato"), url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: local("Lato"), url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.ttf") format("ttf");
}
@media (min-width: 641px) and (max-width: 1200px) {
  /*Tabletstyle*/
}
@media (max-width: 640px) {
  /*Mobilestyle*/
}