/*Null styles*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
/*Common style*/
body {
  font-family: "Lato", "Arial", sans-serif;
}

.top-bar {
  display: flex;
  max-width: 1230px;
  margin: 0 auto;
}
.top-bar .logotype {
  width: 130px;
  height: 22px;
  margin: auto 0;
}
.top-bar .top-menu {
  margin: auto 224px auto 60px;
}
.top-bar .top-menu__wrap {
  display: flex;
}
.top-bar .top-menu__item {
  margin: 0 40px 0 0;
}
.top-bar .top-menu__item:last-child {
  margin: 0 0 0 0;
}
.top-bar .top-menu__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}
.top-bar .cta {
  display: flex;
}
.top-bar .cta .enter {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  margin: auto 0 auto 36px;
}
.top-bar .cta .enter__image {
  margin: 0 8px 0 0;
  vertical-align: middle;
}
.top-bar .cta .enter__log {
  vertical-align: middle;
  color: #424551;
}
.top-bar .cta .enter__reg {
  vertical-align: middle;
  color: #424551;
}

.buttons-basic-solid-large {
  padding: 0px 40px;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 52px;
  color: #FFFFFF;
}

.buttons-basic-solid-regular {
  padding: 0px 32px;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
  color: #FFFFFF;
}

.buttons-basic-outline-large {
  padding: 0px 39px;
  font-weight: 700;
  font-size: 16px;
  line-height: 50px;
  letter-spacing: 0.5px;
  border-radius: 4px;
  border: 1px solid #F75E05;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button-play {
  width: 84px;
  height: 84px;
}

.heading__pre-title {
  margin: 0 0 8px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1E212C;
}
.heading__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
}
.heading--center {
  text-align: center;
}

.badge {
  display: flex;
  border-radius: 4px;
  padding: 1px 8px;
}
.badge__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
}
.badge--marketing {
  width: 80px;
  background: #03CEA4;
}
.badge--management {
  width: 98px;
  background: #5A87FC;
}
.badge--hr {
  width: 111px;
  background: #F89828;
}
.badge--design {
  width: 59px;
  background: #F52F6E;
}

/*Header*/
.header {
  position: relative;
  padding: 20px 0 80px 0;
}
.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  opacity: 0.2;
  z-index: -1;
}
.header .header-wrap {
  display: flex;
  justify-content: space-between;
  max-width: 1230px;
  margin: 116px auto 0 auto;
}
.header .header-wrap .header-content {
  margin: 12px 0 0 0;
}
.header .header-wrap .header-content .play-video {
  display: flex;
  margin: 12px 0 0 0;
}
.header .header-wrap .header-content .play-video__text-wrap {
  margin: auto 0;
}
.header .header-wrap .header-content .play-video__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #1E212C;
}
.header .header-wrap .header-content .main-title-wrap {
  max-width: 496px;
  margin: 24px 0 0 0;
}
.header .header-wrap .header-content .main-title-wrap__main-title {
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
  color: #1E212C;
}
.header .header-wrap .header-content .header-btn {
  display: flex;
  margin: 60px 0 0 0;
}
.header .header-wrap .header-content .header-btn__btn-about-us {
  margin: 0 24px 0 0;
}
.header .statistics {
  display: flex;
  justify-content: space-between;
  max-width: 1230px;
  margin: 189px auto 0 auto;
}
.header .statistics__items {
  display: flex;
  align-items: center;
}
.header .statistics__count {
  margin: 0 12px 0 0;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  text-align: right;
  color: #1E212C;
}
.header .statistics__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #1E212C;
}
.header .statistics__dot-wrap {
  display: flex;
  align-items: center;
}

/*About*/
.about {
  margin: 180px auto 0 auto;
  max-width: 1230px;
}
.about .about-wrap {
  display: flex;
  justify-content: space-between;
}
.about .about-wrap__img-wrap {
  width: 705px;
}
.about .about-wrap__content {
  width: 390px;
}
.about .about-wrap .bulleted-list {
  margin: 40px 0 48px 0;
}
.about .about-wrap .bulleted-list__item {
  margin: 0 0 13px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  background: url(../img/about__ico-check.svg) no-repeat 0 5px;
  padding-left: 32px;
}
.about .about-wrap .bulleted-list__item:last-child {
  margin: 0;
}

/*Courses*/
.courses {
  margin: 180px auto 0 auto;
  max-width: 1230px;
}
.courses .courses-wrap .courses-header {
  display: flex;
  justify-content: space-between;
}
.courses .courses-wrap .courses-header__button-wrap {
  align-self: flex-end;
}
.courses .courses-wrap .courses-main {
  margin: 60px 0 0 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.courses .courses-wrap .courses-main__card {
  display: flex;
  width: 600px;
  margin: 0 0 28px 0;
  background: #FFFFFF;
  border: 1px solid #E5E8ED;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
}
.courses .courses-wrap .courses-main__content-wrap {
  padding: 32px;
}
.courses .courses-wrap .courses-main__title-wrap {
  margin: 20px 0;
}
.courses .courses-wrap .courses-main__title-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
}
.courses .courses-wrap .courses-main__info-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #787A80;
}
.courses .courses-wrap .courses-main__info-price {
  font-weight: 700;
  color: #FF4242;
}
.courses .courses-wrap .courses-main__info-speaker {
  color: #787A80;
}

/*Benefits*/
.benefits {
  margin: 150px 0 0 0;
}
.benefits .benefits-wrap {
  max-width: 1230px;
  margin: 0 auto;
}
.benefits .benefits-bar {
  display: flex;
  margin: 60px 0 0 0;
}
.benefits .benefits-bar__item {
  display: flex;
  justify-content: center;
  width: 25%;
  height: 46px;
}
.benefits .benefits-bar__item:hover {
  border: 1px solid #FF3F3A;
  border-radius: 4px;
}
.benefits .benefits-bar__icon {
  width: 16px;
}
.benefits .benefits-bar__icon--star {
  content: url(../img/benefits__ico1_false.svg);
}
.benefits .benefits-bar__icon--like {
  content: url(../img/benefits__ico2_false.svg);
}
.benefits .benefits-bar__icon--layouts {
  content: url(../img/benefits__ico3_false.svg);
}
.benefits .benefits-bar__icon--chat {
  content: url(../img/benefits__ico4_false.svg);
}
.benefits .benefits-bar__link {
  margin: auto 0 auto 8px;
  height: 26px;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #9A9CA5;
}
.benefits .benefits-bar__link:hover {
  color: #FF3F3A;
}
.benefits .benefits-main {
  display: flex;
  margin: 60px 0 0 0;
  justify-content: space-between;
}
.benefits .benefits-main__content-wrap {
  width: 495px;
  margin: 123px 0 0 0;
}
.benefits .benefits-main__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 130%;
  color: #1E212C;
}
.benefits .benefits-main__text {
  margin: 24px 0 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}

.benefits-bar__item:hover .benefits-bar__icon--star {
  content: url(../img/benefits__ico1_true.svg);
}

.benefits-bar__item:hover .benefits-bar__icon--like {
  content: url(../img/benefits__ico2_true.svg);
}

.benefits-bar__item:hover .benefits-bar__icon--layouts {
  content: url(../img/benefits__ico3_true.svg);
}

.benefits-bar__item:hover .benefits-bar__icon--chat {
  content: url(../img/benefits__ico4_true.svg);
}

.benefits-bar__item:hover .benefits-bar__link {
  color: #FF3F3A;
}

/*Footer*/ /*Fonts*/
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local("Lato"), url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: local("Lato"), url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.ttf") format("ttf");
}
@media (min-width: 641px) and (max-width: 1200px) {
  /*Tabletstyle*/
}
@media (max-width: 640px) {
  /*Mobilestyle*/
}