/*About*/

.about {
    position: relative;
    padding: 0 20px;

    .about-wrap {
        max-width: 1230px;
        margin: 180px auto 0 auto;
        display: flex;
        justify-content: space-between;        

        @media (min-width: 641px) and (max-width: 1200px) {
            margin: 90px auto 0 auto;
        }

        @media (max-width: 640px) {
            margin: 40px auto 0 auto;
        }

        &__img-wrap {
            max-width: 705px;
            margin: 0 20px 0 0;

            @media (max-width: 640px) {
                display: none;
            }
        }

        &__img {
            width: 100%;
        }

        &__content {
            width: 390px;
        }

        .bulleted-list {
            margin: 40px 0 48px 0;

            @media (min-width: 641px) and (max-width: 1200px) {
                margin: 20px 0 24px 0;
            }
    
            @media (max-width: 640px) {
                margin: 20px 0 24px 0;
            }

            //&__items {}

            &__item {
                margin: 0 0 13px 0;

                font-weight: 400;
                font-size: 16px;
                line-height: 160%;
                color: #424551;

                background: url(../img/about__ico-check.svg) no-repeat 0 5px;
                padding-left: 32px;

                @media (min-width: 641px) and (max-width: 1200px) {
                    font-size: 14px;
                }
            }

            &__item:last-child {
                margin: 0;
            }
        }
    }

    .about-mask {
        &__dots {
            position: absolute;
            left: 0;
            top: 150px;
            z-index: -1;
        }

        &__circles {
            position: absolute;
            right: 0;
            top: 200px;
            z-index: -1;
        }
    }

    //.bulleted-list{}
}