/*Benefits*/

.benefits {
    margin: 150px 0 0 0;


    .benefits-wrap {
        max-width: 1230px;
        margin: 0 auto;
    }

    .benefits-bar {
        display: flex;
        margin: 60px 0 0 0;

        &__item {
            display: flex;
            justify-content: center;
            width: 25%;
            height: 46px;

            &:hover {
                border: 1px solid #FF3F3A;
                border-radius: 4px;
            }
        }

        &__icon {
            width: 16px;
        }

        &__icon--star {
            content: url(../img/benefits__ico1_false.svg);
        }

        &__icon--like {
            content: url(../img/benefits__ico2_false.svg);
        }

        &__icon--layouts {
            content: url(../img/benefits__ico3_false.svg);
        }

        &__icon--chat {
            content: url(../img/benefits__ico4_false.svg);
        }

        &__link {
            margin: auto 0 auto 8px;
            height: 26px;
            font-weight: 700;
            font-size: 16px;
            line-height: 160%;
            color: #9A9CA5;
        }

        &__link:hover {
            color: #FF3F3A;
        }
    }

    .benefits-main {
        display: flex;
        margin: 60px 0 0 0;
        justify-content: space-between;

        &__content-wrap {
            width: 495px;
            margin: 122px 0 0 0;
        }

        &__title {
            font-weight: 900;
            font-size: 32px;
            line-height: 130%;
            color: #1E212C;
        }

        &__text {
            margin: 24px 0 0 0;
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: #424551;
        }

        //&__img-wrap {}

        //&__img{}
    }
}

.benefits-bar__item:hover .benefits-bar__icon--star {
    content: url(../img/benefits__ico1_true.svg);
}

.benefits-bar__item:hover .benefits-bar__icon--like {
    content: url(../img/benefits__ico2_true.svg);
}

.benefits-bar__item:hover .benefits-bar__icon--layouts {
    content: url(../img/benefits__ico3_true.svg);
}

.benefits-bar__item:hover .benefits-bar__icon--chat {
    content: url(../img/benefits__ico4_true.svg);
}

.benefits-bar__item:hover .benefits-bar__link {
    color: #FF3F3A;
}