/*Blog*/

.blog {
    padding: 20px;

    .blog-wrap {
        margin: 120px auto 180px auto;
        max-width: 1230px;

        @media (min-width: 641px) and (max-width: 1200px) {
            margin: 60px auto 90px auto;
        }

        @media (max-width: 640px) {
            margin: 30px auto 45px auto;
        }
    }

    .blog-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    //&__button-wrap{}

    .blog-main {
        display: flex;
        justify-content: space-between;
        margin: 60px 0 0 0;

        @media (min-width: 641px) and (max-width: 1200px) {
            margin: 30px 0 0 0;
        }

        @media (max-width: 640px) {
            margin: 30px 0 0 0;
            flex-wrap: wrap;
        }
    }

    .blog-card {
        width: 390px;
        margin: 0 5px;

        @media (max-width: 640px) {
            width: 100%;
            margin-bottom: 20px;
        }

        &__image-wrap {
            position: relative;
        }

        &__image {
            width: 100%;
            border-radius: 4px;
        }

        &__image-badge {
            display: flex;
            padding: 1px 8px;
            background: #FFFFFF;
            border-radius: 4px;

            position: absolute;
            top: 12px;
            left: 12px;
        }

        &__image-badge-ico {
            margin: 0 4px 0 0;
        }

        &__image-badge-lable {
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            color: #424551;
        }

        //&__content{}

        &__meta-bar {
            margin: 16px 0 0 0;
        }

        &__meta {
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            color: #787A80;
        }

        &__meta-link {
            font-weight: 700;
            font-size: 14px;
            line-height: 150%;
            color: #787A80;

            &:hover {
                text-decoration: underline;
            }
        }

        &__meta-icon {
            vertical-align: text-top;
        }

        &__title {
            margin: 8px 0;
        }

        &__title-link {

            font-weight: 700;
            font-size: 20px;
            line-height: 150%;
            color: #1E212C;

            @media (min-width: 641px) and (max-width: 1200px) {
                font-size: 18px;
            }
@media (max-width: 640px) {}

            &:hover {
                color: #FF3F3A;
            }
        }

        &__text {
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: #424551;
        }

        &__link-wrap {
            margin: 16px 0 0 0;
        }

        &__link {
            font-weight: 700;
            font-size: 16px;
            line-height: 160%;
            color: #1E212C;
        }

        &__link-ico {
            margin: 0 0 0 8px;
            vertical-align: middle;
        }
    }
}