/*Common style*/

body {
    font-family: 'Lato', 'Arial', sans-serif;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    max-width: 1230px;
    margin: 0 auto;

    .logotype {
        width: 130px;
        height: 22px;
        margin: auto 0;

        //&__link {}

        //&__text {}

        //&__icon {}
    }

    .top-menu {
        margin: auto 11.67vw auto 3.13vw;
        margin-left: auto + 10px;

        &__wrap {
            display: flex;
        }

        &__item {
            margin: 0 40px 0 0;
        }

        &__item:last-child {
            margin: 0 0 0 0;
        }


        &__link {
            font-weight: 700;
            font-size: 16px;
            line-height: 160%;
            color: #424551;

            &:hover {
                color: #FF3F3A;
            }
        }

        @media (min-width: 641px) and (max-width: 1200px) {
            display: none;
        }

        @media (max-width: 640px) {
            display: none;
        }
    }

    .cta {
        display: flex;

        .enter {
            font-weight: 700;
            font-size: 16px;
            line-height: 160%;

            margin: auto 0 auto 36px;

            &__image {
                margin: 0 8px 0 0;
                vertical-align: middle;
            }

            &__log {
                vertical-align: middle;
                color: #424551;

                &:hover {
                    color: #FF3F3A;
                }
            }

            &__reg {
                vertical-align: middle;
                color: #424551;

                &:hover {
                    color: #FF3F3A;
                }
            }
        }

        @media (min-width: 641px) and (max-width: 1200px) {
            //display: none;
        }

        @media (max-width: 640px) {
            display: none;
        }
    }

    .bar {
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;

        @media (min-width: 1201px) {
            display: none;
        }
    }
}

.buttons-basic-solid-large {
    height: 52px;
    padding: 0px 40px;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border-radius: 4px;
    letter-spacing: 0.5px;

    font-weight: 700;
    font-size: 16px;
    line-height: 52px;
    color: #FFFFFF;
}

.buttons-basic-solid-large:hover {
    background: linear-gradient(55.95deg, #e63934 0%, #de5505 100%);
    //opacity: 0.8;
}

.buttons-basic-solid-regular {
    padding: 0px 32px;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border-radius: 4px;
    letter-spacing: 0.5px;

    font-weight: 700;
    font-size: 14px;
    line-height: 44px;
    color: #FFFFFF;
}

.buttons-basic-solid-regular:hover {
    background: linear-gradient(55.95deg, #e63934 0%, #de5505 100%);
    //opacity: 0.8;
}

.buttons-basic-outline-large {
    padding: 0px 39px;
    height: 52px;
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;
    letter-spacing: 0.5px;

    border-radius: 4px;
    border: 1px solid #F75E05;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.buttons-basic-outline-large:hover {
    border: 2px solid #F75E05;
    text-decoration: underline;
}

.buttons-basic-outline-regular {
    padding: 0px 32px;

    font-weight: 700;
    font-size: 14px;
    line-height: 44px;
    letter-spacing: 0.5px;

    border-radius: 4px;
    border: 1px solid #F75E05;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-video {
    display: flex;
    margin: 12px 0 0 0;

    &:hover {
        cursor: pointer;
    }

    &:hover .play-video__button {
        animation-play-state: paused;
    }

    &:hover .play-video__text {
        color: #FF3F3A;
    }

    &__button-wrap {
        width: 84px;
        height: 84px;
        display: flex;

    }

    &__button {
        width: 52px;
        height: 52px;
        margin: auto;
        border-radius: 50%;

        animation-name: play-button-pulsation;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-delay: 1s;

    }

    &__text-wrap {
        margin: auto 0;
    }

    &__text {
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;
        color: #1E212C;
    }
}

@keyframes play-button-pulsation {
    0% {
        outline: 1px solid rgba(255, 63, 58, 0.12);
    }

    100% {
        outline: 16px solid rgba(255, 63, 58, 0.12);
    }
}

.heading {
    max-width: 810px;

    &__pre-title {
        margin: 0 0 8px 0;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #1E212C;

        @media (min-width: 641px) and (max-width: 1200px) {
            font-size: 14px;
        }
        @media (max-width: 640px) {
            font-size: 14px;
        }
    }

    &__title {
        font-weight: 900;
        font-size: 46px;
        line-height: 130%;
        color: #1E212C;

        @media (min-width: 641px) and (max-width: 1200px) {
            font-size: 30px;
        }
        @media (max-width: 640px) {
            font-size: 23px;
        }
    }

    &--center {
        margin: 0 auto;
        text-align: center;
    }
}

.badge {
    display: flex;
    border-radius: 4px;
    padding: 1px 8px;

    //&__text {}

    &__link {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #FFFFFF;
    }

    &--marketing {
        width: 80px;
        background: #03CEA4;
    }

    &--management {
        width: 98px;
        background: #5A87FC;
    }

    &--hr {
        width: 111px;
        background: #F89828;
    }

    &--design {
        width: 59px;
        background: #F52F6E;
    }
}

.control-arrow {
    display: flex;

    &__arrow {
        cursor: pointer;

        //&-left {}
        //&-right {}
    }

    //&__img-left{}
    //&__arrow-righ{}

    .control-arrow__arrow-left:hover circle {
        fill: #FF3F3A;
    }

    .control-arrow__arrow-left:hover path {
        fill: #FFFFFF;
    }

    .control-arrow__arrow-right:hover circle {
        fill: #FF3F3A;
    }

    .control-arrow__arrow-right:hover path {
        fill: #FFFFFF;
    }
}

.bar-panel {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: rgba(0, 0, 0, 0.2);

    .bar-panel-wrap {
        //display: block;
        flex-wrap: wrap;
        position: fixed;
        background-color: #FFFFFF;
        right: 0;
        top: 0;
        height: 100%;
        width: 300px;
        padding: 20px;
        text-align: right;
    }

    .bar {
        display: inline-block;
        width: 48px;
        height: 48px;
        cursor: pointer;
    }

    .bar-menu {
        margin: 20px 0 0 0;

        border-top: 1px solid gainsboro;
        border-bottom: 1px solid gainsboro;

        &__wrap {
            padding: 10px 0 10px 0;
        }

        //&__item{}

        &__link {
            font-weight: 700;
            font-size: 16px;
            line-height: 200%;
            color: #424551;

            &:hover {
                color: #FF3F3A;
            }
        }
    }

    .bar-cta {
        margin: 20px 0 0 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        //overflow: hidden;

        .bar-enter {
            font-weight: 700;
            font-size: 16px;
            line-height: 160%;


            margin: 20px 0 0 0;

            &__image {
                margin: 0 8px 0 0;
                vertical-align: middle;
            }

            &__log {
                vertical-align: middle;
                color: #424551;

                &:hover {
                    color: #FF3F3A;
                }
            }

            &__reg {
                vertical-align: middle;
                color: #424551;

                &:hover {
                    color: #FF3F3A;
                }
            }
        }
    }
}