/*Header*/

.header {
    position: relative;
    padding: 20px 20px 80px 20px;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
        opacity: 0.2;
        z-index: -1;
    }

    .header-wrap {
        display: flex;
        justify-content: space-between;
        max-width: 1230px;
        margin: 116px auto 0 auto;

        .header-content {
            margin: 12px 0 0 0;

            .main-title-wrap {
                max-width: 496px;
                margin: 24px 0 0 0;

                &__main-title {
                    font-weight: 900;
                    font-size: 64px;
                    line-height: 130%;
                    //letter-spacing: 1px;
                    color: #1E212C;
                }
            }

            .header-btn {
                display: flex;
                margin: 60px 0 0 0;

                &__btn-about-us {
                    margin: 0 24px 0 0;
                }
            }

            &__image{
                width: 100%;
            }
        }
    }

    .statistics {
        display: flex;
        justify-content: space-between;
        max-width: 1230px;
        margin: 189px auto 0 auto;

        &__items {
            display: flex;
            align-items: center;
        }

        &__count {
            margin: 0 12px 0 0;

            font-weight: 900;
            font-size: 46px;
            line-height: 130%;
            text-align: right;
            color: #1E212C;
        }

        &__label {
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: #1E212C;
        }

        &__dot-wrap {
            display: flex;
            align-items: center;
        }

        //&__dot-img {}
    }

    .header-mask {
        //position: relative;
        width: 100%;
        height: 100%;

        &__shape {
            position: absolute;
            z-index: -1;

            &--first {
                left: 9.27%;
                top: 21.2%;
            }

            &--second {
                right: 7.4%;
                top: 3.04%;
            }

            &--third {
                left: 40.73vw;
                top: 487px;
            }

            &--fourth {
                left: 38.18vw;
                top: 758px;
            }

            &--fifth {
                right: 0;
                top: 749px;
            }

            &--sixth {
                bottom: 0;
                left: 0;
                opacity: 0.2;
            }
        }
    }
}