/*Subscribe*/

.subscribe {
    position: relative;
    padding: 20px;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
        opacity: 0.2;
        z-index: -1;
    }

    .subscribe-wrap {
        margin: 0 auto;
        padding: 120px 0 181px 0;
        max-width: 1230px;

        @media (min-width: 641px) and (max-width: 1200px) {
            padding: 100px 0 160px 0;
        }

        @media (max-width: 640px) {
            padding: 100px 0 160px 0;
        }
    }

    .subscribe-form {
        margin: 60px 0 0 0;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 640px) {
            flex-wrap: wrap;
        }

        &__field {
            margin: 0 24px 0 0;
            width: 422px;
            height: 52px;
            background: #FFFFFF;
            border: 1px solid #D7DADD;
            border-radius: 4px;

            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: #9A9CA5;
            padding: 13px 0 13px 16px;

            @media (max-width: 640px) {
                margin: 0 auto 20px auto;
            }
        }
    }

    .subscribe-mask {
        &__illustration-left {
            position: absolute;
            z-index: -1;
            bottom: 0;
            left: 0;
            opacity: 0.6;

            @media (max-width: 640px) {
                width: 50%;
             }
        }

        &__illustration-right {
            position: absolute;
            z-index: -1;
            bottom: 0;
            right: 0;
            opacity: 0.6;

            @media (max-width: 640px) {
               width: 50%;
            }
        }
    }
}