/*Testimonials*/

.testimonials {
    padding: 180px 0 155px 0;
    background: #F4F5F7;

    .testimonials-wrap {
        margin: 0 auto 0 auto;
        max-width: 1230px;

        height: 500px;
    }

    .testimonials-slider {
        margin: 60px 0 0 0;

        &__main {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__content {
            width: 1020px;
            height: 344px;
            background: #FFFFFF;
            box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
            border-radius: 4px;
        }

        &__arrow {
            width: 48px;
            height: 48px;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
        }

        &__arrow--left {
            background-image: url(../img/control_arrow-left-false.svg);
        }

        &__arrow--right {
            background-image: url(../img/control_arrow-right-false.svg);
        }

        &__footer {
            margin: 56px 0 0 0;
            display: flex;
            justify-content: center;
        }

        &__dot{
            margin: 0 6px;
            cursor: pointer;
        }

        &__dot--active line {
            stroke:#424551;
        }
    }

}